<h2>What's on your mind?</h2>
<div class="suggestions">
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?biryani"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?pizza"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?rolls"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?kebabs"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?burger"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?lassi"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?Chinese"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?noodles"
      alt="food-image"
      class="food-image"
    />
  </a>
  <a href="https://example.com">
    <img
      src="https://source.unsplash.com/144x180/?omelette"
      alt="food-image"
      class="food-image"
    />
  </a>
</div>
